# =========================
# ENTORNO VIRTUAL
# =========================
.venv/
venv/
env/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# =========================
# DATASETS (MUY IMPORTANTE)
# =========================
data/
datasets/
faces/

# =========================
# MODELOS ENTRENADOS
# =========================
*.yml
*.pkl
*.model
*.h5
*.onnx

# =========================
# LOGS / CACHE
# =========================
*.log
.cache/

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db